* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 94px;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

ul {
  list-style: none;
}

a:visited {
  color: none;
}

b {
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

h2 {
  width: 793px;
  margin-bottom: 37px;
  margin-left: 13%;
  font-size: 89px;
  font-weight: 900;
  line-height: 1.17em;
  color: #fefefe;
}

h3 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.17em;
  text-align: center;
}

h4 {
  margin-bottom: 28px;
  color: #fefefe;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.15em;
}

h5 {
  margin: 15px 0;
  color: #333;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.15em;
  text-align: center;
}

p {
  margin-bottom: 30px;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 1.15em;
  text-align: left;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 1620px;
  height: 94px;
  margin: 0 150px;
}

.logo {
  width: 59px;
  height: 42px;
}

.nav-wrap {
  display: flex;
  margin: 0 70px;
  flex-basis: 573px;
  flex-shrink: 2;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: #333;
  font-size: 16px;
}

.nav-link:hover {
  border-bottom: 1px solid #333;
}

.nav-link-active {
  cursor: default;
  font-weight: 900;
  border-bottom: 1px solid #333;
}

.theme-toggle:hover {
  cursor: pointer;
}

.toggle-fill {
  display: inline-block;
  width: 54px;
  height: 30px;
  padding: 5px 0;
  border-radius: 190px;
  background-color: #f2f2f2;
  transition: all 1s;
}

.toggle-fill::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  transition: all 0.5s;
}

.toggle-input:checked ~ .toggle-fill {
  background-color: #4f4f4f;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(22px);
}

.menu-btn {
  display: none;
}

.menu-btn-fill {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg width='40' height='21' viewBox='0 0 40 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='40' y2='1.5' stroke='%23333333' stroke-width='3'/%3E%3Cline y1='10.5' x2='40' y2='10.5' stroke='%23333333' stroke-width='3'/%3E%3Cline x1='7' y1='19.5' x2='40' y2='19.5' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A") center no-repeat;
}

.watch-online {
  display: flex;
  justify-content: center;
  background: url("../../assets/watch-online-background.png") center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.watch-online-wrap {
  position: relative;
  flex-basis: 1620px;
  height: 100%;
  margin: 0 150px;
  padding: 206px 0 111px;
}

.animals-gallery-wrap {
  position: absolute;
  left: 42.5%;
  top: 407px;
}

.animals-gallery-wrap .slider-wrap {
  margin-left: 323px;
}

.animals-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 135px;
  background: url("../../assets/gallery-line-background.svg") center no-repeat;
  background-size: contain;
}

.gallery-item {
  cursor: pointer;
  margin-right: 46px;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
}

.gallery-item:last-child {
  margin-right: 0;
}

.animal-card {
  position: relative;
  width: 140px;
  height: 203px;
  border-radius: 5px;
  overflow: hidden;
}

.animal-card img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.animal-card-description {
  position: absolute;
  bottom: 0;
  height: 100%;
  padding: 94% 28px 34px 23px;
  background: linear-gradient(0deg, #000 -56.45%, rgba(0, 0, 0, 0) 65.03%);
}

.animal-card-text {
  color: #fff;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.17em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch-btn-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #4bd8b5;
  width: 113px;
  height: 24px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  background: none;
  text-transform: uppercase;
}

.watch-btn-small::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 2px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='url(%23paint0_linear)'/%3E%3Cpath d='M16 12L10 15.4641V8.5359L16 12Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-4.48125' y1='-1.26175e-07' x2='28.4614' y2='10' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD8B5'/%3E%3Cstop offset='1' stop-color='%2349D6DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='16' y1='6.50625' x2='12.6667' y2='17.4871' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD8B5'/%3E%3Cstop offset='1' stop-color='%2349D6DF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
  background-size: contain;
}

.donate-btn-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 74px;
  height: 24px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  background: none;
  text-transform: uppercase;
}

.donate-btn-small::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='white'/%3E%3Cpath d='M14.1982 15.6602C14.1982 15.1621 14.04 14.752 13.7236 14.4297C13.4072 14.1016 12.8799 13.8086 12.1416 13.5508C11.4033 13.2871 10.8291 13.0439 10.4189 12.8213C9.05371 12.0889 8.37109 11.0049 8.37109 9.56934C8.37109 8.59668 8.66699 7.79687 9.25879 7.16992C9.85059 6.54297 10.6533 6.1709 11.667 6.05371V4.1377H13.0732V6.07129C14.0928 6.21777 14.8809 6.65137 15.4375 7.37207C15.9941 8.08691 16.2725 9.01855 16.2725 10.167H14.1455C14.1455 9.42871 13.9785 8.84863 13.6445 8.42676C13.3164 7.99902 12.8682 7.78516 12.2998 7.78516C11.7373 7.78516 11.2979 7.9375 10.9814 8.24219C10.665 8.54688 10.5068 8.9834 10.5068 9.55176C10.5068 10.0615 10.6621 10.4717 10.9727 10.7822C11.2891 11.0869 11.8223 11.377 12.5723 11.6523C13.3223 11.9277 13.9111 12.1826 14.3389 12.417C14.7666 12.6514 15.127 12.9209 15.4199 13.2256C15.7129 13.5244 15.9385 13.8701 16.0967 14.2627C16.2549 14.6553 16.334 15.1152 16.334 15.6426C16.334 16.6328 16.0293 17.4355 15.4199 18.0508C14.8164 18.666 13.9727 19.0293 12.8887 19.1406V20.8545H11.4912V19.1494C10.3311 19.0205 9.4375 18.6045 8.81055 17.9014C8.18945 17.1982 7.87891 16.2666 7.87891 15.1064H10.0146C10.0146 15.8447 10.1992 16.416 10.5684 16.8203C10.9434 17.2246 11.4707 17.4268 12.1504 17.4268C12.8184 17.4268 13.3252 17.2656 13.6709 16.9434C14.0225 16.6211 14.1982 16.1934 14.1982 15.6602Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
}

.animal-card-active {
  width: 245px;
  height: 352px;
  margin-bottom: 24px;
}

.slider-wrap {
  width: 245px;
  margin: 0 auto;
}

.slider-value {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.17em;
  color: #fefefe;
}

.slider-value.dark {
  color: #333;
}

.slider-value-total {
  font-size: 14px;
  line-height: 1.15em;
  color: #bdbdbd;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 14px;
  appearance: none;
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
}

.slider:hover {
  background: rgba(189, 189, 189, 1);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100%/8);
  height: 10px;
  background: #fefefe;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: calc(100%/8);
  height: 10px;
  background: #fefefe;
  cursor: pointer;
}

.slider.dark::-webkit-slider-thumb {
  background: #333;
}

.slider.dark::-moz-range-thumb {
  background: #333;
}


.btn-big {
  display: block;
  width: 245px;
  height: 55px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: linear-gradient(107deg, #4bd8b5 -14.32%, #49d6df 100%);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  text-transform: uppercase;
}

.watch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  border: none;
}

.watch-online .watch-btn {
  margin-left: 13%;
}

.watch-btn::before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background: url("../../assets/icon-watch.svg") no-repeat center;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 107px;
  margin-top: 216px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-position: top;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url("../../assets/icon-instagram.svg");
}

.twitter {
  height: 16.3px;
  background-image: url("../../assets/icon-twitter.svg");
}

.youtube {
  height: 13.75px;
  background-image: url("../../assets/icon-youtube.svg");
}

.vk {
  height: 11.4px;
  background-image: url("../../assets/icon-vk.svg");
}

.how-it-works {
  display: flex;
  justify-content: center;
}

.how-it-works-wrap {
  flex-basis: 790px;
  margin: 100px 20px;
  text-align: center;
  overflow: hidden;
}

.how-it-works-title {
  text-align: left;
}

.how-it-works-image {
  margin-bottom: 27px;
}

.how-it-works .slider-wrap {
  margin-bottom: 28px;
}

.how-it-works .slider::-webkit-slider-thumb {
  width: calc(100%/4);
}

.how-it-works .slider::-moz-range-thumb {
  width: calc(100%/4);
}

.how-it-works .slider-wrap {
  margin-bottom: 30px auto 0;
}

.what-inspires {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.what-inspires-wrap {
  flex-basis: 1200px;
  margin: 100px 150px;
}

.inspire-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.inspire-card {
  flex-basis: 380px;
  text-align: center;
}

.inspire-card-icon {
  width: 80px;
  height: 80px;
}

.pets-in-zoo {
  display: flex;
  justify-content: center;
}

.pets-in-zoo-wrap {
  flex-basis: 1300px;
  margin: 100px 150px;
  overflow: hidden;
}

.pets-in-zoo-carousel {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.carousel-items {
  display: flex;
  cursor: pointer;
}

.carousel-item {
  margin-right: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}

.carousel-item:last-child {
  margin-right: 0;
}

.carousel-item .animal-card-description {
  top: 100%;
  background: linear-gradient(348.75deg, #000 10.15%, rgba(0, 0, 0, 0) 59%);
  transition: all 0.3s linear;
}

.carousel-item:hover .animal-card-description {
  transform: translate(0, -100%);
}

.previous-btn {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.6663 16.1706L20.0167 29.5207C20.3255 29.8298 20.7376 30 21.1772 30C21.6167 30 22.0289 29.8298 22.3376 29.5207L23.3208 28.5378C23.9605 27.8973 23.9605 26.8564 23.3208 26.2169L12.1102 15.0062L23.3332 3.78314C23.642 3.47412 23.8125 3.06217 23.8125 2.6229C23.8125 2.18315 23.642 1.7712 23.3332 1.46194L22.3501 0.479263C22.0411 0.17024 21.6291 0 21.1896 0C20.7501 0 20.3379 0.17024 20.0291 0.479263L6.6663 13.8416C6.35679 14.1516 6.18679 14.5655 6.18777 15.0055C6.18679 15.4472 6.35679 15.8608 6.6663 16.1706Z' fill='%23828282'/%3E%3C/svg%3E%0A") center no-repeat;
}

.next-btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.3337 13.8294L9.98332 0.479264C9.67454 0.170243 9.26235 0 8.82284 0C8.38334 0 7.97114 0.170243 7.66237 0.479264L6.6792 1.46218C6.03945 2.10267 6.03945 3.14363 6.6792 3.78314L17.8898 14.9938L6.66676 26.2169C6.35799 26.5259 6.1875 26.9378 6.1875 27.3771C6.1875 27.8168 6.35799 28.2288 6.66676 28.5381L7.64993 29.5207C7.95895 29.8298 8.3709 30 8.81041 30C9.24991 30 9.66211 29.8298 9.97088 29.5207L23.3337 16.1584C23.6432 15.8484 23.8132 15.4345 23.8122 14.9945C23.8132 14.5528 23.6432 14.1392 23.3337 13.8294Z' fill='%23828282'/%3E%3C/svg%3E%0A") center no-repeat;
}

.pets-in-zoo-carousel .animal-card {
  width: 278px;
  height: 399px;
}

.pets-in-zoo .slider::-webkit-slider-thumb {
  width: calc(100%/8);
}

.pets-in-zoo .slider::-moz-range-thumb {
  width: calc(100%/8);
}

.choose-favorite-btn {
  margin: 30px auto 0;
}

.pay-feed {
  background-color: #f2f2f2;
  overflow: hidden;
}

.pay-feed-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.pay-feed-text {
  text-align: center;
  margin-bottom: 92px;
}

.pay-feed-steps {
  display: flex;
  margin-bottom: 60px;
}

.pay-feed-steps li {
  display: flex;
  align-items: center;
}

.pay-feed-steps li:not(:last-child)::after {
  content: "";
  width: 107px;
  height: 20px;
  margin: 0 63px;
  background: url("data:image/svg+xml,%3Csvg width='108' height='16' viewBox='0 0 108 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M107.707 8.70711C108.098 8.31658 108.098 7.68342 107.707 7.29289L101.343 0.928932C100.953 0.538408 100.319 0.538408 99.9289 0.928932C99.5384 1.31946 99.5384 1.95262 99.9289 2.34315L105.586 8L99.9289 13.6569C99.5384 14.0474 99.5384 14.6805 99.9289 15.0711C100.319 15.4616 100.953 15.4616 101.343 15.0711L107.707 8.70711ZM0 9L107 9V7L0 7L0 9Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-19.9789' y1='8' x2='-19.827' y2='12.9337' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD8B5'/%3E%3Cstop offset='1' stop-color='%2349D6DF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
}

.pay-feed-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 245px;
  background: url("data:image/svg+xml,%3Csvg width='245' height='245' viewBox='0 0 245 245' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='122.5' cy='122.5' r='121' stroke='url(%23paint0_linear)' stroke-width='3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-45.7461' y1='-1.28803e-06' x2='290.544' y2='102.084' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD8B5'/%3E%3Cstop offset='1' stop-color='%2349D6DF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
}

.pay-feed-step img {
  margin-bottom: 18px;
}

.step-text {
  width: 55%;
  margin-bottom: 0;
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15em;
  text-align: center;
}

.testimonials-wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}

.testimonials-title {
  margin-bottom: 60px;
}

.testimonials-carousel {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.testimonial-cards {
  display: flex;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 310px;
  margin-right: 39px;
  padding: 47px 7%;
  border-radius: 5px;
  background: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
}

.testimonial-card:last-child {
  margin-right: 0;
}

.testimonial-card-photo {
  width: 68px;
  height: 68px;
  margin-bottom: 17px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  background: url("../../assets/icon-user.svg") center no-repeat;
  overflow: hidden;
}

.testimonial-card-photo img {
  width: 100%;
  margin-top: -15px;
}

.user-name {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.15em;
  color: #333;
}

.feedback-btn {
  margin-top: 30px;
}

.map {
  background-color: #f2f2f2;
}

.map-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.map-title {
  margin-bottom: 60px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 498px;
  margin-bottom: 35px;
  background: url("../../assets/map.svg")center no-repeat;
  background-size: contain;
}

.map-marker {
  position: absolute;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}

.map-marker:hover {
  cursor: pointer;
  z-index: 2;
}

.map-marker-active .marker-icon,
.map-marker:hover .marker-icon {
  background: url("../../assets/icon-map-marker-active.svg") center no-repeat;
}

.map-marker:hover .tooltip {
  visibility: visible;
}

.marker-icon {
  position: relative;
  width: 93.4px;
  height: 93.4px;
  background: url("../../assets/icon-map-marker.svg") center no-repeat;
}

.marker-photo-wrap {
  position: absolute;
  top: 13.85px;
  left: 25px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  overflow: hidden;
}

.marker-photo {
  width: 100%;
}

.eagle-marker {
  top: 14%;
  left: 9%;
}

.alligator-marker {
  top: 20.5%;
  left: 19.2%;
}

.gorilla-marker {
  top: 38%;
  left: 46.5%;
}

.panda-marker {
  top: 18%;
  left: 73%;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80%;
  left: 50%;
  width: 436px;
  height: 149px;
  padding: 0 44px;
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.tooltip-left {
  transform: translate(-100%, 0);
}

.tooltip-image-wrap {
  flex-shrink: 0;
  width: 65px;
  height: 65px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.tooltip-image {
  width: 100%;
}

.tooltip-title {
  margin-bottom: 7px;
  color: #333;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.17em;
}

.tooltip-text {
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  overflow: hidden;
}

.footer-wrap {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, minmax(440px, 1fr));
  grid-template-rows: repeat(3, auto);
  max-width: 1620px;
  margin: 0 auto;
  padding: 100px 0 72px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  margin: 0 auto 0 0;
}

.nav-link-footer {
  color: #fefefe;
}

.nav-link-footer:hover {
  border-bottom: 1px solid #fefefe;
}

.for-volunteers-btn {
  width: 275px;
  margin: 0 0 0 auto;
  font-weight: 500;
}

.contact-form {
  padding: 60px 0;
  color: #bdbdbd;
}

.contact-input {
  width: 383px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #e0e0e0;
  font-size: 14px;
  border-bottom: 1px solid #bdbdbd;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}

.contact-input::placeholder {
  color: #e0e0e0;
}

fieldset {
  width: 383px;
  height: 120px;
  margin-bottom: 25px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}

legend {
  margin-left: 5px;
  padding: 0 5px 0 3px;
  font-size: 12px;
  line-height: 1.17em;
}

.contact-textarea {
  width: 100%;
  padding: 2%;
  height: 100%;
  border: none;
  color: #e0e0e0;
  background: none;
  resize: none;
  outline: none;
}

.agree-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17em;
}

.agree-checkbox {
  position: absolute;
  opacity: 0;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border: 1px solid #bdbdbd;
  margin-right: 6px;
  border-radius: 2px;
}

.custom-checkbox svg {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.custom-checkbox svg path {
  fill: #333;
}

.agree-checkbox:checked ~ .custom-checkbox {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}

.agree-checkbox:checked ~ .custom-checkbox svg {
  opacity: 1;
}

.send-btn {
  display: flex;
  align-items: center;
  color: #fefefe;
  width: 108px;
  margin-left: 259px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15em;
  border: none;
  background: none;
  text-transform: uppercase;
}

.send-btn::after {
  display: inline-block;
  content: "";
  width: 49px;
  height: 5px;
  margin-left: 24px;
  background: url("data:image/svg+xml,%3Csvg width='49' height='8' viewBox='0 0 49 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.3536 4.35355C48.5488 4.15829 48.5488 3.84171 48.3536 3.64645L45.1716 0.464466C44.9763 0.269204 44.6597 0.269204 44.4645 0.464466C44.2692 0.659728 44.2692 0.976311 44.4645 1.17157L47.2929 4L44.4645 6.82843C44.2692 7.02369 44.2692 7.34027 44.4645 7.53553C44.6597 7.7308 44.9763 7.7308 45.1716 7.53553L48.3536 4.35355ZM0 4.5L48 4.5V3.5L0 3.5L0 4.5Z' fill='%23FEFEFE'/%3E%3C/svg%3E%0A") right no-repeat;
}

.contacts {
  padding: 56px 0;
}

.address-title {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15em;
  text-transform: uppercase;
  color: #fefefe;
}

.address-text {
  margin-bottom: 5px;
  color: #fefefe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15em;
}

.contact-links {
  margin: 20px 0 20px;
}

.contacts-link {
  display: block;
  margin-bottom: 5px;
  color: #fefefe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15em;
}

.social-links-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  height: 20px;
}

.copyright {
  grid-column: span 2;
  padding-top: 28px;
  color: #bdbdbd;
  border-top: 0.5px solid #fefefe;
}

.copyright-text {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.17em;
}

.choose-favorite-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 100px;
}

.choose-favorite-wrap .slider-wrap {
  margin-bottom: 80px;
}

.choose-favorite-title {
  margin-bottom: 20px;
}

.choose-favorite-text {
  max-width: 790px;
  margin: 0 auto 54px;
}

@media screen and (max-width: 1620px) {
  h2 {
    margin-left: 0;
  }

  .watch-online-wrap {
    padding: 128px 0 72px;
  }

  .watch-online .watch-btn {
    margin-left: 0;
  }

  .animals-gallery-wrap {
    top: 434px;
    left: 36%;
  }

  .gallery-item {
    margin-right: 30px;
  }

  .animal-card {
    width: 180px;
    height: 261px;
  }

  .animal-card-active {
    width: 245px;
    height: 352px;
  }

  .animals-gallery-wrap .slider-wrap {
    margin-left: 345px;
  }

  .social-links {
    margin-top: 320px;
  }

  .how-it-works-text {
    margin-bottom: 14px;
  }

  .inspire-list {
    gap: 20px;
  }
}

@media screen and (max-width: 1199px) {
  h2 {
    width: 599px;
    margin-bottom: 30px;
    font-size: 64px;
  }

  .header-wrap {
    margin: 0 20px;
  }

  .watch-online-wrap {
    margin: 0 20px;
    padding: 122px 0 100px;
  }

  .animals-gallery-wrap {
    top: 408px;
    left: 51px;
  }

  .social-links {
    margin-top: 369px;
  }

  .how-it-works-wrap {
    margin-bottom: 68px;
  }

  .how-it-works-text {
    margin-bottom: 30px;
  }

  .what-inspires-wrap {
    margin: 100px 20px;
  }
}

@media screen and (max-width: 700px) {
  .nav-wrap {
    justify-content: flex-end;
    order: 3;
    flex-basis: 0;
    margin: 0 0 0 34px;
  }

  .nav-links {
    visibility: hidden;
    position: absolute;
    display: block;
    top: 94px;
    right: 0;
    width: 300px;
    height: 100vh;
    padding-right: 20px;
    background-color: #fff;
    text-align: right;
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .menu-btn-input:checked ~ .nav-links {
    visibility: visible;
    opacity: 1;
  }

  .nav-link {
    line-height: 3.38em;
  }

  .theme-toggle {
    margin: 0 0 0 auto;
    order: 1;
  }

  .menu-btn {
    display: inline-block;
  }

  .animals-gallery {
    padding-left: 71px;
  }

  .animals-gallery-wrap .slider-wrap {
    margin-left: 281px;
  }

  .inspire-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .inspire-card {
    flex-basis: 287px;
  }

  .inspire-card-text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 639px) {
  h2 {
    width: 100%;
    font-size: 48px;
    margin-bottom: 15px;
  }

  .watch-online-wrap {
    padding: 92px 0 50px;
  }

  .watch-online .watch-btn {
    margin-bottom: 339px;
  }

  .animals-gallery-wrap {
    top: 366px;
    left: -6px;
    margin-bottom: 100px;
  }

  .animals-gallery {
    padding-left: 21px;
  }

  .gallery-item {
    margin-right: 9px;
  }

  .animal-card {
    width: 113px;
    height: 164px;
  }

  .animal-card-active {
    width: 140px;
    height: 201px;
    margin-bottom: 15px;
  }

  .animal-card-description {
    padding: 75px 4px 71px 8px;
  }

  .animal-card-text {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
  }

  .watch-btn-small {
    width: 99px;
    margin-bottom: 6px;
    font-size: 10px;
  }

  .donate-btn-small {
    width: 65px;
    font-size: 10px;
  }

  .watch-online .slider-wrap {
    width: 140px;
    margin-left: 143px;
  }

  .slider {
    margin-top: 0;
  }

  .slider-value {
    margin-bottom: -7px;
  }

  .social-links {
    display: none;
  }

  .what-inspires-wrap {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 320px) {
  .header-wrap {
    margin: 0 10px;
  }

  .watch-online-wrap {
    margin: 0 10px;
  }

  .how-it-works-wrap {
    margin: 50px 10px;
  }

  .inspire-card {
    flex-basis: 100%;
  }
}
