* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 94px;
}

ul {
  list-style: none;
}

.nav-link {
  position: relative;
  font-size: 16px;
  text-decoration: none;
}

a.active {
  font-weight: 900;
  border-bottom: 2px solid #333333;
}

a:visited {
  color: #333333;
}

button:hover {
  cursor: pointer;
}

h2 {
  width: 793px;
  margin-bottom: 37px;
  margin-left: 13%;
  font-size: 89px;
  font-weight: 900;
  line-height: 104px;
  color: #FEFEFE;
}

h3 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  text-align: left;
}

p {
  margin-bottom: 30px;
  color: #4F4F4F;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1620px;
  height: 94px;
  margin: 0 auto;
}

.logo {
  width: 59px;
  height: 42px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 573px;
}

.theme-toggle:hover {
  cursor: pointer;
}

.toggle-fill {
  display: inline-block;
  width: 54px;
  height: 30px;
  padding: 5px 0;
  border-radius: 190px;
  background-color: #F2F2F2;
  transition: all 1s;
}

.toggle-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.toggle-fill::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  transition: all 0.5s;
}

.toggle-input:checked ~ .toggle-fill {
  background-color: #4F4F4F;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(22px);
}

.watch-online {
  background: url('/online-zoo/assets/watch-online-background.png') center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.watch-online-wrap {
  position: relative;
  max-width: 1620px;
  height: 100%;
  margin: 0 auto;
  padding: 206px 0 111px;
}

.animals-gallery {
  position: absolute;
  left: 42.5%;
  top: 406px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 421px;
  padding-left: 89px;
  background: url('/online-zoo/assets/gallery-line-background.svg') center no-repeat;
  background-size: contain;
}

.gallery-item {
  margin-left: 46px;
}

.animal-card {
  width: 140px;
  height: 203px;
  border-radius: 5px;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
  overflow: hidden;
}

.animal-card img {
  width: 100%;
}

.selected {
  width: 245px;
  height: 352px;
  margin-bottom: 20px;
}

.slider-wrap {
  width: 245px;
  margin: 0 auto;
}

.slider-value {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #FEFEFE;
}

.slider-value.dark {
  color: #333;
}

.slider-value-total {
  font-size: 14px;
  line-height: 16px;
  color: #BDBDBD;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 14px;
  appearance: none;
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
}

.slider:hover {
  background: rgba(189, 189, 189, 1);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100%/8);
  height: 10px;
  background: #FEFEFE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: calc(100%/8);
  height: 10px;
  background: #FEFEFE;
  cursor: pointer;
}

.slider.dark::-webkit-slider-thumb {
  background: #333;
}

.slider.dark::-moz-range-thumb {
  background: #333;
}

.watch-online-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 55px;
  margin-left: 13%;
  border: none;
  border-radius: 3px;
  color: #FFF;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.watch-online-btn::before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background: url('/online-zoo/assets/icon-watch.svg') no-repeat center;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 107px;
  margin-top: 216px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-position: top;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('/online-zoo/assets/icon-instagram.svg');
}

.twitter {
  height: 16.3px;
  background-image: url('/online-zoo/assets/icon-twitter.svg');
}

.youtube {
  height: 13.75px;
  background-image: url('/online-zoo/assets/icon-youtube.svg');
}

.vk {
  height: 11.4px;
  background-image: url('/online-zoo/assets/icon-vk.svg');
}

.how-it-works-wrap {
  width: 790px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.how-it-works-image {
  margin-bottom: 29px;
}

.how-it-works .slider::-webkit-slider-thumb {
  width: calc(100%/4);
}

.how-it-works .slider::-moz-range-thumb {
  width: calc(100%/4);
}

.how-it-works .watch-online-btn {
  margin: 30px auto 0;
}
