h2 {
  color: #333333;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  margin: 0 0 40px 0;
}

h4 {
  margin-bottom: 6px;
  color: #333333;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

p {
  margin-bottom: 16px;
}

.content {
  display: flex;
  position: relative;
  background: #FBFBFB;
  padding-bottom: 100px;
}

.nav-animals {
  position: sticky;
  top: 0;
  bottom: 100vh;
  align-self: flex-start;
  max-width: 209px;
  margin-top: 60px;
  margin-left: 26px;
  margin-right: 176px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.up-btn {
  width: 23px;
  height: 23px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.5001 4.94404C11.9123 4.94404 12.3244 5.10143 12.6387 5.41555L22.5282 15.3051C23.1573 15.9342 23.1573 16.9542 22.5282 17.5831C21.8993 18.2119 20.8796 18.2119 20.2504 17.5831L11.5001 8.8322L2.74967 17.5827C2.12057 18.2116 1.1009 18.2116 0.472107 17.5827C-0.157299 16.9539 -0.157299 15.9339 0.472107 15.3048L10.3614 5.41524C10.6759 5.10107 11.088 4.94404 11.5001 4.94404Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white' transform='translate(23 23) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
}

.down-btn {
  width: 23px;
  height: 23px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.4999 18.056C11.0877 18.056 10.6756 17.8986 10.3613 17.5845L0.471825 7.69487C-0.157275 7.06577 -0.157275 6.04579 0.471825 5.41695C1.10067 4.7881 2.12045 4.7881 2.7496 5.41695L11.4999 14.1678L20.2503 5.41725C20.8794 4.78841 21.8991 4.78841 22.5279 5.41725C23.1573 6.0461 23.1573 7.06608 22.5279 7.69518L12.6386 17.5848C12.3241 17.8989 11.912 18.056 11.4999 18.056Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
}

.nav-animals__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-animals__animal-img {
  border-radius: 50%;
  object-fit: cover;
  width: 108px;
  height: 108px;
}

.nav-animals__animal {
  border-radius: 50%;
  margin-bottom: 10px;
}

.nav-animals__link {
  border-radius: 50%;
}

.nav-animals__animal--selected {
  height: 157px;
  width: 157px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  background-image: -webkit-linear-gradient(white, white), -webkit-linear-gradient(to right, #07EEE0 0%, #DF496D 100%);
  background-image: -moz-linear-gradient(white, white), -moz-linear-gradient(to right, #07EEE0 0%, #DF496D 100%);
  background-image: -o-linear-gradient(white, white), -o-linear-gradient(to right, #07EEE0 0%, #DF496D 100%);
  background-image: linear-gradient(white, white), linear-gradient(to right, #07EEE0 0%, #DF496D 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.nav-animals__animal--selected .nav-animals__link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-animals__link-active {
  cursor: inherit;
}

.nav-animals__animal--selected .nav-animals__animal-img {
  border-radius: 50%;
  object-fit: cover;
  width: 137px;
  height: 137px;
}

.broadcast {
  max-width: 1200px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.broadcast-heading {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.broadcast__content-wrapper {
  display: flex;
}

.broadcast__stream-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 790px;
}

.broadcast__main-stream {
  width: 100%;
  height: 442px;
  flex-grow: 1;
  max-width: 790px;
  max-height: 442px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.broadcast__stream-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.preview-wrapper {
  z-index: 1;
  pointer-events: none;
}

.broadcast__stream-preview {
  max-width: 246px;
  max-height: 141px;
  border-radius: 5px;
}

.broadcast-stream-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.broadcast-btn {
  cursor: pointer;
  margin-right: 5px;
  outline: none;
}

.broadcast-btn:last-of-type {
  margin-right: 0px;
}

.broadcast-btn {
  width: 8px;
  height: 8px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23C4C4C4'/%3E%3C/svg%3E%0A") center no-repeat;
}

.broadcast-btn-active {
  width: 11px;
  height: 11px;
  background: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5.5' cy='5.5' r='5.5' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-2.05391' y1='-5.78301e-08' x2='13.0448' y2='4.58335' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD8B5'/%3E%3Cstop offset='1' stop-color='%2349D6DF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
}

.broadcast-info {
  max-width: 380px;
}

.broadcast-info div {
  margin-bottom: 13px;
}

.broadcast-info div:last-of-type {
  margin-bottom: 35px;
}

.broadcast-info h3 {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.broadcast-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

.feed-btn {
  width: 194px;
  height: 55px;
  margin: 30px auto 0 0;
}
