* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  margin: 0 auto 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: absolute;
  width: 1440px;
  margin: 0 auto 0;
  padding: 19px 0;
  color: #F7F7F7;
}

main {
  width: 1440px;
  margin: 0 auto 0;
  background-color: #cccccc;
}

h1 {
  margin-bottom: 56px;
  color: #CD6326;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
}

 h3 {
   color: #333333;
   font-size: 27px;
   font-weight: 400;
   line-height: 40px;
   text-align: center;
   margin-bottom: 59px;
 }

article {
  position: relative;
  width: 300px;
  height: 360px;
  color: #F7F7F7;
}

article img {
  position: absolute;
  top: 0;
}

form {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto 0;
}

input {
  width: 540px;
  height: 60px;
  padding: 0 15px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: none;
  border-color: #666666;
  background-color: transparent;
  font-size: 23px;
  line-height: 27px;

}

footer {
  width: 1440px;
  padding: 150px 0;
  margin: 0 auto 0;
  background: url('assets/footer-background.png') center no-repeat #181617;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F7F7F7;
  vertical-align: middle;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 23px;
  color: #F7F7F7;
}

button:hover {
  cursor: pointer;
}

.header-wrap,
.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto 0;
}

.content-wrap {
  width: 1200px;
  margin: 0 auto 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 auto 0 0;
}

.logo-text {
  margin: 0 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #F7F7F7;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 60px;
}

.nav-item {
  font-size: 23px;
}

.sign-in-button{
  width: 120px;
  height: 50px;
  border: 2px solid #CD6326;
  border-radius: 5px;
  background-color: transparent;
}

.sign-in-button:hover {
  background-color: #CD6326;
}

.sign-in-button:active {
  background-color: #8F5613;
}

.survival {
  height: 780px;
  padding-top: 203px;
  color: #F7F7F7;
  background-image: url('assets/survival-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #02160b;
}

.survival-text {
  width: 274px;
  margin-bottom: 49px;
  font-size: 18px;
  line-height: 27px;
}

.donate-button {
  width: 160px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #CD6326;
}

.donate-button:hover {
  background-color: #E39128;
}

.donate-button:active {
  background-color: #8F5613;
}

.articles {
  padding-top: 120px;
  padding-bottom: 239px;
}

.articles-subtitle {
  color: #666666;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}

.articles-list {
  display: flex;
  justify-content: space-between;
  width: 1020px;
}

.article-content {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.article-title {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 36px;
}

.article-subtitle {
  font-size: 17px;
  line-height: 27px;
}

.slider-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 70px;
  border: none;
  background-color: transparent;
}

.get-notified {
  padding-bottom: 240px;
}

.send-button {
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #CD6326;
}

.send-button:hover {
  background-color: #E39128;
}

.send-button:active {
  background-color: #8F5613;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  margin: 0 0 0 auto;
}
